.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.countdown-item {
    margin: 0 10px;
    text-align: center;
}

.countdown-item span {
    font-size: 2em;
    font-weight: bold;
}

p {
    margin: 0;
}