.button-div {
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.box-card {
    min-width: 200px;
    width: 25%;
    padding: 8px;
    align-items: center;
}

img{
    max-width: 100%;
}