<mat-toolbar 
    color="primary" 
    class="mat-elevation-z3"
>
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    
    <span class="spacer">Moving Tracker</span>

    <button mat-icon-button [routerLink]="'/'">
        <mat-icon>home</mat-icon>
    </button>
    
    <button
        mat-icon-button
        class="theme-toggle"
        aria-label="Change theme"
        [matMenuTriggerFor]="themeMenu"
    >
        <mat-icon>{{ (isDark$ | async) === true ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
        <button mat-menu-item (click)="changeTheme('auto')">System</button>
        <button mat-menu-item (click)="changeTheme('light')">Light</button>
        <button mat-menu-item (click)="changeTheme('dark')">Dark</button>
    </mat-menu>
    <div class="demo-buttons">
        <button mat-raised-button color="primary">Raised</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
    </div>
</mat-toolbar>  

<mat-sidenav-container #sidenavContainer [hasBackdrop]="true">
    <mat-sidenav 
        #sidenav
        mode="side" 
    >
      <app-popout-sidenav/>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-drawer-container *ngIf="router.url !== '/'" [hasBackdrop]="false">
    <mat-drawer>
        <mat-drawer-content>
            <app-countdown-timer [targetDate]="timerService.getTargetDate()"/>
        </mat-drawer-content>
    </mat-drawer>
</mat-drawer-container>