<mat-toolbar 
    color="primary" 
    class="mat-elevation-z3"
>
    <div class="col">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <button class="home-button col" [routerLink]="'/'">Moving Tracker</button>

    <span class="right-hand-buttons col">
        <app-countdown-timer-popout *ngIf="router.url !== '/'"/>
        <app-theme-toggle/>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
    </span>
</mat-toolbar>  

<mat-sidenav-container #sidenavContainer [hasBackdrop]="true">
    <mat-sidenav 
        #sidenav
        mode="side" 
    >
      <app-popout-sidenav/>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-drawer-container *ngIf="router.url !== '/'" [hasBackdrop]="false">
    <mat-drawer>
        <mat-drawer-content>
            <app-countdown-timer [targetDate]="timerService.getTargetDate()"/>
        </mat-drawer-content>
    </mat-drawer>
</mat-drawer-container>