@use "../styles/base";

.icon-button-wrapper{
    background-color: "transparent";
}

.content{
    padding: "24px"
}

mat-toolbar {
    justify-content: space-between;
    position: relative;
    z-index: 5;
    height: "64px";
}

mat-sidenav-container{
    height: calc(100vh - 60px);
    width: "25%";
}

router-outlet{
    height: 0px;
}
    
@media screen and (max-width: 600px) {
    mat-sidenav-container{
        width: 100%;
    };
}